@import '../../styles/settings.scss';

.legendItem {
  display: flex;
  margin-bottom: 0.3rem;
}

.legendColor {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.legendButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: lightgray;
}

.active {
  color: black;
}

.tooltip {
  position: absolute;
  left: -180px;
  top: 10px;
  min-width: 100px;
  min-height: 100px;
  background-color: $vizzuality-color-light;
  padding: 10px;
  overflow: hidden;
}

.tooltipTitle {
  font-size: large;
  margin-bottom: 1em;
}

.tooltipItem {
  font-size: small;
  margin-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
}

.devCardContainer {
  position: relative;
  padding: 230px;
}
